<section class="book-details">
    <h2>{{title}}</h2>
    <p>
        Author: {{author}} <br />
        Rating: {{rating}} <br />
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>
</section>

<a href="/books">Back</a>